body {
    background-color: black;
    color: gold;
    margin: 0;
    font-family: 'Noto Serif', serif;

}

header {
    background-image: url(img/green-felt-background.jpg);
    padding: 10px;
    border: 7px solid brown;
    margin: 0;
    height: 10vh;

}

input {
    background-color: hsl(170, 80%, 40%);
    padding-left: 5px;
    border: none;
    box-shadow: 4px 4px 15px #16161d;
    border-radius: 4px
}

button {
    background-color: hsl(120, 70%, 40%);
    font-family: inherit;
    padding: 6px;
    border: none;
    box-shadow: 4px 4px 15px #16161d;
    border-radius: 10px;
    margin-left: 10px;

}

main {
    background-image: url(img/green-felt-background.jpg);
    padding: 10px;
    border: 7px solid brown;
    margin: 5px 0 0 0;
    height: 80vh;

}
